aiohttp==3.9.1
aiosignal==1.3.1
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
frozenlist==1.4.1
gTTS==2.4.0
idna==3.4
multidict==6.0.4
playsound==1.3.0
pycairo==1.25.1
PyGObject==3.46.0
requests==2.31.0
urllib3==2.0.4
yarl==1.9.4
